body{
    background: linear-gradient(149deg, #b69f44 0%, #eedd9a 100%);

}

:root {
    --gold: #c9ab33;
    --dark-bg: #121212;
    --sidebar-bg: oklch(0.205 0 0);
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-color: var(--sidebar-bg) !important;
    transition: all 0.3s;
}

/* Cards */
#card{

    background: oklch(88.875% 0.03372 97.757);
    border-radius: 10px;

}

#sidebar .nav-link {
    color: #adb5bd;
    padding: 12px 15px;
    border-radius: 8px;
    margin-bottom: 5px;
    transition: 0.2s;
}

#sidebar .nav-link:hover, #sidebar li.active .nav-link {
    background-color: rgba(181, 148, 16, 0.1);
    color: var(--gold);
}

.text-gold {
    color: var(--gold);
}

.btn-outline-gold {
    border-color: var(--gold);
    color: var(--gold);
}

.btn-outline-gold:hover {
    background-color: var(--gold);
    color: #000;
}

/* Para ocultar el sidebar en pantallas pequeñas */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}